<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title display-4">Devour Da Burger</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <ul class="list group mt-6">
                    {{#each sushis}}
                        {{#unless devoured}}
                            {{> buttons/sushi-block devour=true}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <ul class="list group mt-6">
                    {{#each sushis}}
                        {{#if devoured}}
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
	                        {{sushi_name}}
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body" id="entrySection">
                    <form class="create-form">
                        <div class="form-group row mx-4">
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-lg" id="sushiNameInput" placeholder="What kind of sushi do you want to eat?">
                            </div>
                        </div>
                        <div class="form-group row mx-4">
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-secondary" id="addSushi">Make it!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
<a href="http://www.colourlovers.com/pattern/2838780/Summer_Picnic_Burger" target="_blank"></a><br /><span style="font-size: 10px; color: #5e5e5e;"><a href="//www.colourlovers.com/seamless-studio" target="_blank" style="font-size: 10px; color: #5e5e5e;">Vector Patterns</a> by <a href="//www.colourlovers.com/" target="_blank" style="font-size: 10px; color: #5e5e5e;">COLOURlovers</a></span>
</footer>
