body {
    background-image: url("../img/Sushi.jpg");
    background-repeat: repeat;
}

.card {
    margin-bottom: 10px;
}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size-adjust: unset;
    font-size: 70px;
    color: #014351;
}

li {
    color: #014351;
}

