<li class="list-group-item d-flex justify-content-between align-items-center">
	{{sushi_name}}

	<button type="submit" class="change-devour btn btn-outline-secondary btn-sm mx-5" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{/if}}
	</button>

	
</li>